#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [3]:
import pandas as pd
data = pd.read_csv('data/supermarket_sales.csv')
data

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [15]:
data.groupby("Branch")['gross income'].sum(numeric_only=True)

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

філіал С є найприбутковішим

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [27]:
city_profit = data.groupby('City')['gross income'].sum()
max_profit_city = city_profit.idxmax()
max_profit_value = city_profit.max()

max_profit_city, max_profit_value

('Naypyitaw', 5265.1765)

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [35]:
invoices_by_category = data.pivot_table(
    index='Branch', 
    columns='Product line', 
    values='Invoice ID', 
    aggfunc='count',
    fill_value=0
)

invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [39]:
invoices_by_category_profit = invoices_by_category.groupby('Branch')['Electronic accessories'].sum()
max_profit_city_El = invoices_by_category_profit.idxmax()
max_profit_value_El = invoices_by_category_profit.max()

max_profit_city_El, max_profit_value_El

('A', 60)

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

гіпотези
1)Який середній чек (сума покупок) залежно від способу оплати у кожній з філій?
2)Які категорії товарів є найбільш популярними в кожному місті залежно від статі клієнтів?
3) Який час доби є найпопулярнішим для покупок у кожній філії?

In [45]:
aver_check = data.groupby(['Branch','Payment'])['Total'].mean()
aver_check

Branch  Payment
A       Cash           307.102282
        Credit card    318.218755
        Ewallet        312.098167
B       Cash           321.267832
        Credit card    342.613362
        Ewallet        296.578354
C       Cash           347.466593
        Credit card    309.463929
        Ewallet        350.522491
Name: Total, dtype: float64

У філіях A та B, найвищі середні платежі здійснюються за допомогою кредитної картки, тоді як у філії C найвищі платежі спостерігаються при використанні Ewallet.
Готівкові платежі є найменшими у філіях A та B, але в філії C вони значно вищі і перевищують інші способи оплати у філіях A та B.

In [47]:
product_type = data.groupby(['City','Product line','Gender'])['Total'].mean()
product_type

City       Product line            Gender
Mandalay   Electronic accessories  Female    291.661125
                                   Male      329.071556
           Fashion accessories     Female    275.196727
                                   Male      252.821534
           Food and beverages      Female    362.413655
                                   Male      224.042500
           Health and beauty       Female    320.017425
                                   Male      411.524591
           Home and lifestyle      Female    434.415068
                                   Male      285.429750
           Sports and travel       Female    307.093850
                                   Male      336.730734
Naypyitaw  Electronic accessories  Female    320.329125
                                   Male      370.361444
           Fashion accessories     Female    329.133900
                                   Male      334.679450
           Food and beverages      Female    412.135776
                                   Male      289.489125
           Health and beauty       Female    280.249565
                                   Male      350.675379
           Home and lifestyle      Female    313.717320
                                   Male      302.631000
           Sports and travel       Female    387.818224
                                   Male      282.199969
Yangon     Electronic accessories  Female    355.939125
                                   Male      260.963062
           Fashion accessories     Female    351.293625
                                   Male      282.447261
           Food and beverages      Female    304.337478
                                   Male      290.381100
           Health and beauty       Female    272.138000
                                   Male      264.725192
           Home and lifestyle      Female    394.900406
                                   Male      296.375227
           Sports and travel       Female    279.833690
                                   Male      375.250750
Name: Total, dtype: float64

В кожному місті є різні категорії, де або чоловіки, або жінки витрачають значно більше, що може бути пов'язано з місцевими культурними особливостями, доходами або споживчими вподобаннями.
Категорія "Home and lifestyle" є найбільш витратною для жінок у всіх трьох містах, особливо в Mandalay та Yangon.
Чоловіки більше витрачають на "Health and beauty" у Mandalay і Naypyitaw, що може бути пов'язано з популярністю певних продуктів або послуг у цих містах.

In [55]:
data['Time of Day'] = pd.to_datetime(data['Time'], format='%H:%M').dt.hour
data['Time of Day'] = pd.cut(data['Time of Day'], bins=[0, 12, 18, 24], labels=['Morning', 'Afternoon', 'Evening'], right=False)

most_popular_time_of_day = data.groupby('Branch')['Time of Day'].agg(lambda x: x.mode()[0])
most_popular_time_of_day

Branch
A    Afternoon
B    Afternoon
C    Afternoon
Name: Time of Day, dtype: category
Categories (3, object): ['Morning' < 'Afternoon' < 'Evening']

найпопулярнішим часом доби для покупок у кожній філії (A, B та C) є друга половина дня (Afternoon).

Це показує, що в усіх філіях більшість покупок відбувається після обіду.