# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [3]:
import pandas as pd
data = pd.DataFrame(pd.read_csv('data/supermarket_sales.csv'))
data

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [19]:
data.sort_values(by = 'Unit price', ascending = False).head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [32]:
data_EA = data[data['Product line'] =='Electronic accessories']
data_EA.sort_values(by = ['Unit price', 'Quantity'], ascending = False).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [40]:
data['Rating Category'] = data['Rating'].apply(lambda x: "High" if x >= 8 else ("Medium" if 6 <= x < 8 else "Low"))
data['Rating Category']

0        High
1        High
2      Medium
3        High
4         Low
        ...
995    Medium
996       Low
997    Medium
998       Low
999    Medium
Name: Rating Category, Length: 1000, dtype: object

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [57]:
data['Rating Category'].value_counts(normalize=True) * 100

Rating Category
Medium    35.6
High      32.9
Low       31.5
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [45]:
time = '11:28'

In [49]:
def get_hour(time):
    hour = int(time[:2])
    return hour
get_hour(time)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [55]:
data['Hour'] = data['Time'].apply(lambda x: get_hour(x))
data['Hour']

0      13
1      10
2      13
3      20
4      10
       ..
995    13
996    17
997    13
998    15
999    13
Name: Hour, Length: 1000, dtype: int64

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [59]:
data['Hour'].value_counts(normalize=True)

Hour
19    0.113
13    0.103
15    0.102
10    0.101
18    0.093
11    0.090
12    0.089
14    0.083
16    0.077
20    0.075
17    0.074
Name: proportion, dtype: float64

найбільше здійснююється покупок о 19 годині: люди повертаються з роботи і роблять покупки, оскільки є вільний час і потрібно купувати їжу, а в більшості робота закінчується о 18, також після навчання, в теплих регіонах якраз спадає денна жара

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [64]:
average_total_per_city = data.groupby('City')['Total'].mean()
average_total_per_city

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [66]:
# кількість покупок
Quantity_per_city = data.groupby('City')['Quantity'].count()
Quantity_per_city

City
Mandalay     332
Naypyitaw    328
Yangon       340
Name: Quantity, dtype: int64

In [68]:
# середнє для загальної суми чеку
average_total_per_city = data.groupby('City')['Total'].mean()
average_total_per_city

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

In [70]:
# мінімальне для загальної суми чеку
min_total_per_city = data.groupby('City')['Total'].min()
min_total_per_city

City
Mandalay     18.6375
Naypyitaw    10.6785
Yangon       12.6945
Name: Total, dtype: float64

In [72]:
# максимальне значення для загальної суми чеку
max_total_per_city = data.groupby('City')['Total'].max()
max_total_per_city

City
Mandalay     1022.49
Naypyitaw    1042.65
Yangon       1039.29
Name: Total, dtype: float64

### Аналіз: 

    кількість покупок (count):
Mandalay, маючи найбільшу кількість покупок, може вказувати на високу активність покупців або більшу кількість супермаркетів.

    Середнє значення чеку (mean):
Mandalay і Yangon мають подібні середні чеки, що може означати схожий асортимент або купівельні звички клієнтів. Naypyitaw, маючи нижче середнє значення, може потребувати додаткових акцій для стимулювання витрат.

    Мінімальне значення чеку (min):
Naypyitaw та Yangon мають низькі мінімальні чеки, що може означати, що клієнти в цих містах часто роблять невеликі покупки. Можливо, варто провести кампанії, спрямовані на підвищення середньої вартості покупки.

    Максимальне значення чеку (max):
Всі три міста мають високі максимальні чеки, що може свідчити про наявність клієнтів з високою купівельною спроможністю або про те, що супермаркети пропонують товари преміум-класу.



### Рекомендації для мережі супермаркетів:
            
1) Розширення асортименту в Mandalay та Yangon:

Зважаючи на високе середнє значення чеку, можливо, варто розширити асортимент преміум-товарів у Mandalay та Yangon.

2) Проведення акцій у Naypyitaw:

Через нижче середнє значення чеку в Naypyitaw, рекомендується запустити акції або знижки на популярні товари, щоб стимулювати більші покупки.

3) Фокус на дешевих товарах у Naypyitaw:

Враховуючи низьке мінімальне значення чеку, можливо, варто збільшити доступність дешевих товарів або впровадити програми лояльності, які заохочують частіші покупки.

4) Орієнтація на клієнтів з високою купівельною спроможністю:

У всіх трьох містах можна орієнтуватися на клієнтів, які роблять великі покупки, шляхом пропозиції ексклюзивних товарів або спеціальних пропозицій для VIP-клієнтів.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [87]:
data.to_csv('supermarket_sales_enriched.csv', index = False)

In [ ]:
pd.read_csv('dasupermarket_sales.csv'